<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">
  <div class="input-group">
    <mat-form-field class="input-field">
      <mat-label for="email">E-mail:</mat-label>
      <input matInput type="text" formControlName="email"/>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field class="input-field">
      <mat-label for="password">Password:</mat-label>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="passwordConfirm">Confirm password:</mat-label>
      <input matInput type="password" formControlName="passwordConfirm"/>
    </mat-form-field>
  </div>
  <div class="input-group">
    <mat-form-field class="input-field">
      <mat-label for="firstName">First name:</mat-label>
      <input matInput type="text" formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label for="lastName">Last name:</mat-label>
      <input matInput type="text" formControlName="lastName"/>
    </mat-form-field>
  </div>
  <div class="button-group">
    <button mat-raised-button type="submit">Register</button>
    <button mat-raised-button (click)="goBack()">Back</button>
  </div>
</form>
