<div class="container">
  <h1>Welcome to Our Phone Store</h1>
  <div class="card-container">
    <mat-card-content class="card">
      At Our Phone Store, we believe that everyone should have access to the latest and greatest mobile technology at
      affordable prices. Our team is dedicated to bringing you the best selection of phones from the top brands in the
      industry. Whether you're looking for a high-end smartphone with all the bells and whistles, or a budget-friendly
      option that won't break the bank, we've got you covered.
    </mat-card-content>
  </div>
  <div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula mauris sit amet risus maximus
          finibus.
          Fusce non dolor eu nisl ullamcorper suscipit. Nam vitae tellus vel sapien feugiat aliquet eget quis nulla.
          Aliquam non odio eu turpis euismod semper. Sed laoreet vel metus in suscipit. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia curae; Etiam in libero vel sem venenatis eleifend.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Our Services</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>Unbeatable selection of phones from the top brands in the industry</li>
          <li>Competitive pricing and frequent sales and promotions</li>
          <li>Expert support and advice from our friendly and knowledgeable staff</li>
          <li>Convenient online ordering and fast shipping to your door</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
